body{
  background-image: url(bg_form.png);
  background-repeat: no-repeat;
 
   
}
.forForm{

/* Frame 2 */
margin-top: 250px;
margin-left: 350px;
margin-right: 350px;
border-radius:0.5%;
width: 756px;
height: 852px;
left: 362px;
top: 1024px;

background: #45456F;
border: 1px solid #35343A;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: matrix(1, 0, 0, -1, 0, 0);
opacity: 0.8;
}

button{
  border-radius:0.5px;
  width: 740px;
  bottom: 350px;
  background-color:lightgreen;
  color:white;
  padding:15px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;

}
.forHeader{
position: absolute;
width: 756px;
height: 78px;
left: 362px;
top: 100px;

font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #2E3059;

}
